.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
}

.App-header {
  height: 15vmin;
  background-color: #292b34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header .navbar {
  display: flex;
  font-size: calc(5px + 2vmin);
}

.App-link {
  color: #09d3ac;
}
@media screen and (min-width: 992px) {
  .navbar-nav {
    display: inline-flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-basis: 100%;
  }
  .nav-item {
    flex-basis: 1%;
  }
}
